/* global styles */
*{
    font-family: 'Roboto' , sans-serif;
    box-sizing: border-box;
    margin : 0;
    padding: 0;

}
body{
    background-color: #f1f2f6;
    font-size: medium;
}

body{
    background-color: #f1f2f6;
    display: flex;
    justify-content: center;
}

main{
    margin-top: 60px;
}

/* navigation bar styles */

nav a{
    font-weight: 500;
    font-size: 16px;
    color: aliceblue;
    text-decoration: none;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px 30px ;
    background-color: #1dd1a1;
    position: fixed; 
    z-index: 1000; 
}

.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #2d3436;
}

.logo{
    width: 40px;
    height: 40px;
}

/* Single Post  */ 

.blog-post-info {
    background-color: rgba(255, 255, 255, 0.719);
    margin: 10px;
    padding: 1rem;
    width: 700px;
    border: 1px solid rgba(0, 0, 0, 0.2) ;
    border-radius: 10px;
   
}

.author-post-img {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 1rem 0 0;
    border-radius: 50%;
    display: block;
  }


.blog-post-info a {
    text-decoration: none; 
    font-size: 20px;
    color: #001d15
}
 
.page-num{
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
    text-align: center;
    color: #1dd1a1;
    width: 25px;
    height: 25px;
    border: 1px solid #1dd1a1;
    border-radius: 5px;
    margin: 3px;
}
.page-num:hover{
    background-color: #1dd1a1;
    color: white;
}
.page-num-active{
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #1dd1a1;
    width: 25px;
    height: 25px;
    border: 1px solid #1dd1a1;
    border-radius: 5px;
    margin: 3px;
}

.user-post-title{
    display: block;
    width: 700px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    background-color: rgb(115, 230, 199);
    border: 2px solid #1dd1a1;
    border-radius: 10px;
    
}

/* side bar style*/

.side-bar{
    margin-top: 70px;
    margin-left: 10px;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 70px;  
}
.side-bar h1{
    font-size: 1.5em;
    margin: 10px 10px 30px 10px;
    color: #0cb185;
}

.side-bar-table{
    border-collapse: collapse;
    text-align: center;
    background-color: rgba(207, 207, 207, 0.1);
    width: 80%;
    height: 70%;
}

.side-bar-table  a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.side-bar-table  a:hover{
    color: #1dd1a1;
}

.side-bar-table tr{
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 50px
}

/* register form style  */

.form-group{
    width: 500px;
    height: 515px;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

.form-group h1{
    font-size: 1.4em;
    padding-left: 30px;
    padding-bottom: 10px;
    color: #006e51;
}

.form-table{
    border-collapse: collapse
}

.form-label{
    display: block;
    margin: 10px 20px;
    font-size:1.2em;
}

.form-input{
    width: 480px;
    height: 40px;
    margin-left: 1px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 1.1em;
}
.form-input:focus{
    outline: 2px solid #1dd1a1;
    box-shadow: 0px 0px 5px #1dd1a1;
}

.form-button{
    width: 70px;
    height: 30px;
    border : none;
    border-radius: 5px;
    background: #1dd1a1;
    margin: 10px 15px;
}

.form-button:hover{
    background: #1dd1a19a;
}

.sign-in{
    text-decoration: none;
    margin-left: 5px;
    color: #1dd1a1;
}

.sign-in:hover{
    color: #006e51;
    text-decoration: underline;
}

/* login form style  */

.form-group-login {
    width: 500px;
    height: 350px;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

.form-group-login h1{
    font-size: 1.4em;
    padding-left: 30px;
    padding-bottom: 10px;
    color: #006e51;
}

.form-check{
    margin: 10px 20px;
}

.Password-Reset{
    text-decoration: none;
    margin-left: 10px;
    color: #1dd1a1;
}

.Password-Reset:hover{
    color: #006e51;
    text-decoration: underline;
}

.sign-up-now{
    text-decoration: none;
    margin-left: 5px;
    color: #1dd1a1;
}

.sign-up-now:hover{
    color: #006e51;
    text-decoration: underline;
}

/* alerts form style  */

.alert{
    border-radius: 5px;
    margin: 10px ;
    padding: 5px 0px;
    width: 500px;
    color: #01241b;
    text-align: center;
    font-size: 0.9em;
}

.alert-success-login{
    color: #0a8564;
    width: 700px;
    background-color: rgba(29, 209, 161, 0.5);
    border: 2px solid #1dd1a1;
}

.alert-success{
    color: #0a8564;
    width: 700px;
    background-color: rgba(29, 209, 161, 0.5);
    border: 2px solid #1dd1a1;
}

.alert-error{
    color: rgb(109, 0, 0);
    background-color: rgba(255, 0, 0, 0.5);
    border: 2px solid red;
}

.is-invalide{
    box-shadow: 0px 0px 5px red;
}

.invalide-feedback{
    margin: 10px;
    color: red;
    font-size: 0.8em;
}

.alert-info{
    border-radius: 5px;
    margin: 10px ;
    padding: 5px 0px;
    width: 500px;;
    text-align: center;
    font-size: 0.9em;
    color: #020e2e;
    width: 500px;
    background-color: #62c7a56e;
    border: 2px solid #1dd1a1
}

/* account style  */

.user-info{
    margin: 10px;
    padding: 10px;
    width: 700px;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}

.media{
    display: flex;
    flex-direction: row;
}

.account-img{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
}


.media-body{
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.account-heading{
    padding-bottom: 5px;
}

.account-group{
    margin-top: 15px;
}

.form-control-file{
    padding-top: 10px;

}
/* New Post */

.post-group{
    width: 700px;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

.post-group h1{
    padding-left: 30px;
    padding-bottom: 10px;
    color: #006e51;
}

.content-input{  
        width: 650px;
        height: 200px;
        margin-left: 1px;
        padding-left: 10px;
        border: 1px solid black;
        border-radius: 6px;
        font-size: 1.1em; 
}
.content-input:focus{
    outline: 2px solid #1dd1a1;
    box-shadow: 0px 0px 5px #1dd1a1;
}

.single-post-title{
    margin:0px 0px 10px 20px;
}

.single-post-title:hover{
    color:#1dd1a1 ;
}

/* update and delete post */

.update-button{
    width: 70px;
    height: 30px;
    border : none;
    border-radius: 5px;
    background: #1dd1a1;
    margin: 10px 15px;
    display: block;
    font-size:medium !important;
    float: left;
    
    
}
.post-buttons a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-button{
    width: 70px;
    height: 30px;
    border : none;
    border-radius: 5px;
    background: red;
    margin: 10px 15px;
    float: left;

}
.post-infos{
    margin-top: 10px;
}

/* Reset password proprieties */

.Request-Password-Reset{
    width: 170px;
    height: 40px;
    border : none;
    border-radius: 5px;
    background: #1dd1a1;
    margin: 10px 15px;

}
.Request-Password-Reset:hover{
    background: #1dd1a19a;
}

/* comments styles */

.comments-box{
    border:1px solid rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

.add-comment{
    margin-bottom: 10px;
}


.comment-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.comment-field{
    background-color: #f2f3f5;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 500px;
    height: 30px;
}

.comment-btn{
    background-color: #1dd1a1;
    margin-left: 5px;
    width: 40px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.comments{
    margin-left: 20px;

}

.comment{
    background-color: #f2f3f5;
    margin: 10px;
    margin-left: 40px;
    padding: 5px;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;  
}

.comment-date{
    font-size: 13px;
    margin: 5px;
    text-align: right;
}

.unlogin{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#login-btn{
    text-decoration: none;
    color: #1dd1a1;
    font-size: 17px;
    font-weight: 500;
    border: 1px solid #1dd1a1;
    border-radius: 4px;
    padding: 2px 15px;

}

#register-btn{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    background-color: #1dd1a1;
    border: 1px solid #1dd1a1;
    border-radius: 4px;
    padding: 2px 12px;
}