{% extends 'layout.html' %}
{%block content%}
    
    <div class="user-info">
       <div class="media">
            <div class="upper-container">
                <div class="account-img">
                    <img  src="{{image_file}}" alt="profile image">
                </div>
            </div>    
                <div class="media-body">
                    <h2 class="account-heading">{{ current_user.username }}</h2>
                    <p class="text-secondary">{{ current_user.email }}</p>
                </div>  
       </div>

        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="account-group">
                <h2 class="Account-info">Account info</h2>
                <hr class="line">
                {{ form.username.label (class='form-label') }}
                {% if form.username.errors %}
                    {{ form.username (class='form-input is-invalide') }}
                    <div class="invalide-feedback">
                        {% for error in form.username.errors %}
                            <spane>{{ error }}</spane>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username (class='form-input') }}
                {% endif %}

                {{ form.email.label (class='form-label') }}

                {% if form.email.errors %}
                    {{ form.email (class='form-input is-invalide') }}
                    <div class="invalide-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email (class='form-input') }}
                {% endif %} 

                {{ form.picture.label (class='form-control-file') }}

                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                    <div class="invalide-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endfor %}
                {% else %}
                    {{ form.picture(class="form-control-file") }}   
                {% endif %}

                {{ form.submit (class='form-button') }}

            </div>
        </form>
    </div>


{%endblock content%}

   
