{% extends 'layout.html' %}
{%block content%}
    {% for post in posts%}
        <article class="blog-post-info">
            <img src="{{ url_for('static' , filename='profil_pics/'+ post.author.image_file) }}" alt="">

            <div class="blog-post-authour">
                <h1><a href="#">{{ post.author.username }}</a></h1> 
            </div>
            
            <div class="blog-post-date">
                <p>{{ post.date_posted.strftime('%Y-%m-%d') }}</p>  
            </div>
            <br>
            <div class="blog-post-title">
                <h2> <a href="{{ url_for('post' , post_id=post.id) }}" class="single-post-title"> {{ post.title }}</a></h2>
            </div>

            <div class="blog-post-content">
                <p>{{ post.content }}</p>
            </div>

        </article>

      
    
    {% endfor %}
{%endblock content%}
