<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
        <title>Flask Blog - {{title}}</title>
    {%else%}
        <title>Flask Blog</title>
    {%endif%}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <header>
        <a href="{{url_for('main.home')}}"><img class="logo" src="../static/images/logo.jpg" alt="weshare logo" title="We Share"></a>
        <nav class="nav_links">
            <ul>
                <li><a href="{{url_for('main.home')}}">Home</a></li>
                <li><a href="{{url_for('main.about')}}">About</a></li>
            </ul>
        </nav>
        <nav class="nav_links">
            {% if current_user.is_authenticated %}
            <ul>
                <li><a href="{{url_for('posts.new_post')}}">New Post</a></li>
                <li><a href="{{url_for('users.account')}}">account</a></li>
                <li><a href="{{url_for('users.logout')}}">Logout</a></li>
                
            </ul>
            {% else %}
                <ul>
                    <li><a href="{{url_for('users.login')}}">Login</a></li>
                    <li><a href="{{url_for('users.register')}}">Register</a></li>
                </ul>
            {% endif %}
        </nav>
    </header>
    <main>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class='alert alert-{{ category }}'>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
    <div class="side-bar">
        <h1>Side bar</h1>
        <table class="side-bar-table">
            <tr>
              <td><a href="#">Latest Post</a></td>
            </tr>
            <tr>
              <td><a href="#">Latest Post</a></td>
            </tr>
            <tr>
                <td><a href="#">Latest Post</a></td>
            </tr>
            <tr>
                <td><a href="#">Latest Post</a></td>
            </tr>
        </table>
    </div>
    
</body>
</html>