{% extends 'layout.html' %}
{%block content%}

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group-login">
            <h1>Login</h1>
            <hr>
            <table class="form-table">
                <tr class="form-label">
                    {{ form.email.label (class='form-label') }}
                </tr>
                <tr>
                    {% if form.email.errors %}
                        {{ form.email (class='form-input is-invalide') }}
                        <div class="invalide-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email (class='form-input') }}
                    {% endif %}
                </tr> 

                <tr>
                    {{ form.password.label (class='form-label') }}
                </tr>
                <tr>
                    {{ form.password (class='form-input') }}
                </tr>  

                <tr>
                    <div class="form-check">
                        {{ form.remember (class='remember-me') }}
                        {{ form.remember.label (class='remember-me-label') }}
                    </div>
                </tr>
                <tr>
                    <a href="{{url_for('users.reset_request')}}" class="Password-Reset">Forgot Password ?</a>
                </tr>
                
                <tr>
                    <div>
                        {{ form.submit (class='form-button') }}
                    </div>
                </tr>
            </table>
        </fieldset>    
    </form>

        <div >            
            <small>You don't have  account ?</small>
            <a href="{{ url_for('users.register') }}" class="sign-up-now">Sign up now</a>
        </div>





{%endblock content%}

   
