{% extends 'layout.html' %}
{%block content%}
    
        <article class="blog-post-info">
            <img src="{{ url_for('static' , filename='profil_pics/'+ post.author.image_file) }}" alt="user image" class="author-post-img">

            <div class="blog-post-authour">
                <h1><a href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a></h1> 
            </div>
            
            <div class="blog-post-date">
                <p>{{ post.date_posted.strftime('%Y-%m-%d') }}</p>  
            </div>
    
            {% if post.author == current_user %}
                <div class="post-buttons">
                    
                    <a href="{{ url_for('update_post', post_id=post.id) }}" class="update-button">Update</a>
                       
                    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                        <input type="submit" class="delete-button" value="Delete">
                    </form>
                    
                </div>
            {% endif %}
            <div class="post-infos">
                <div class="single-post-title">
                    <h2>{{ post.title }}</h2>
                </div>

                <div class="blog-post-content">
                    <p>{{ post.content }}</p>
                </div>
            </div>
            <div class="comments-box">
                {% if current_user.is_authenticated %}
                    <div class="add-comment">
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            {% if form.body.errors %}
                                {{ form.body}}
                                <div class="invalid-feedback">
                                    {% for error in form.body.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <img class="comment-img" src="{{url_for('static' , filename='profil_pics/'+ current_user.image_file) }}" alt="profile image">   
                                {{ form.body(class="comment-field") }}
                            {% endif %}
                            {{ form.submit(class="comment-btn") }}
                        </form>
                    </div>
                    <div class="comments">
                        {% if post.post_comments %}
                        {% if post.post_comments.count() > 0 %}
                            {% for comment in post.post_comments %}
                            <img src="{{ url_for('static' , filename='profil_pics/'+ comment.owner.image_file) }}" alt="user image" class="comment-img">
                                <div class="comment">
                                    <h3> {{ current_user.username }}</h3>
                                    <p class="comment-body">{{ comment.body }}</p>
                                    <p class="comment-date">{{ comment.date_posted.strftime('%Y-%m-%d') }}</p> 
                                </div>                      
                            {% endfor %}
                        {% endif %}
                        {% endif %}
                    </div>
                {% else %}
                    <div class="unlogin">
                        <p>Log in or sign up to leave a comment : </p>
                        <span>
                            <a href="{{url_for('login')}}" id="login-btn">LOGIN</a>
                            <a href="{{url_for('register')}}" id="register-btn">SING UP</a>
                        </span>
                    </div>
                    <div class="comments">
                        {% if post.post_comments %}
                        {% if post.post_comments.count() > 0 %}
                            {% for comment in post.post_comments %}
                            <img src="{{ url_for('static' , filename='profil_pics/'+ comment.owner.image_file) }}" alt="user image" class="comment-img">
                                <div class="comment">
                                    <p class="comment-body">{{ comment.body }}</p>
                                    <p class="comment-date">{{ comment.date_posted.strftime('%Y-%m-%d') }}</p> 
                                </div>                      
                            {% endfor %}
                        {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </article>

{%endblock content%}
