{% extends 'layout.html' %}
{%block content%}
    
        <article class="blog-post-info">
            <img src="{{ url_for('static' , filename='profil_pics/'+ post.author.image_file) }}" alt="">

            <div class="blog-post-authour">
                <h1><a href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a></h1> 
            </div>
            
            <div class="blog-post-date">
                <p>{{ post.date_posted.strftime('%Y-%m-%d') }}</p>  
            </div>
    
            {% if post.author == current_user %}
                <div class="post-buttons">
                    
                    <a href="{{ url_for('update_post', post_id=post.id) }}" class="update-button">Update</a>
                       
                    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                        <input type="submit" class="delete-button" value="Delete">
                    </form>
                    
                </div>
            {% endif %}
            <div class="post-infos">
                <div class="single-post-title">
                    <h2>{{ post.title }}</h2>
                </div>

                <div class="blog-post-content">
                    <p>{{ post.content }}</p>
                </div>
            </div>

        </article>

{%endblock content%}
