/* global styles */
*{
    font-family: 'Roboto' , sans-serif;
    box-sizing: border-box;
    margin : 0;
    padding: 0;

}
body{
    background-color: #f1f2f6;
    font-size: medium;
}

body{
    background-color: #f1f2f6;
    display: flex;
    justify-content: center;
}

main{
    margin-top: 60px;
}

/* navigation bar styles */

nav a{
    font-weight: 500;
    font-size: 16px;
    color: aliceblue;
    text-decoration: none;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px 30px ;
    background-color: #1dd1a1;
    position: fixed; 
    z-index: 1000; 
}

.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #2d3436;
}

.logo{
    width: 40px;
    height: 40px;
}

/* Single Post  */ 

.blog-post-info {
    background-color: rgba(255, 255, 255, 0.719);
    margin: 10px;
    padding: 1rem;
    width: 600px;
    border: 1px solid rgba(0, 0, 0, 0.2) ;
    border-radius: 10px;
   
}

.blog-post-info img {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 1rem 0 0;
    border-radius: 50%;
    display: block;
  }


.blog-post-info a {
    text-decoration: none;  
}

.blog-post-info h2 {
    margin:0px 0px 10px 20px;

}
  
/* side bar style*/

.side-bar{
    margin-top: 70px;
    margin-left: 10px;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 70px;  
}
.side-bar h1{
    font-size: 1.5em;
    margin: 10px 10px 30px 10px;
    color: #0cb185;
}

.side-bar-table{
    border-collapse: collapse;
    text-align: center;
    background-color: rgba(207, 207, 207, 0.1);
    width: 80%;
    height: 70%;
}

.side-bar-table  a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.side-bar-table  a:hover{
    color: #1dd1a1;
}

.side-bar-table tr{
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 50px
}

/* register form style  */

.form-group{
    width: 500px;
    height: 515px;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

.form-group h1{
    font-size: 1.4em;
    padding-left: 30px;
    padding-bottom: 10px;
    color: #006e51;
}

.form-table{
    border-collapse: collapse
}

.form-label{
    display: block;
    margin: 10px 20px;
    font-size:1.2em;
}

.form-input{
    width: 480px;
    height: 40px;
    margin-left: 1px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 1.1em;
}
.form-input:focus{
    outline: 2px solid #1dd1a1;
    box-shadow: 0px 0px 5px #1dd1a1;
}

.form-button{
    width: 70px;
    height: 30px;
    border : none;
    border-radius: 5px;
    background: #1dd1a1;
    margin: 10px 15px;
}

.form-button:hover{
    background: #1dd1a19a;
}

.sign-in{
    text-decoration: none;
    margin-left: 5px;
    color: #1dd1a1;
}

.sign-in:hover{
    color: #006e51;
    text-decoration: underline;
}

/* login form style  */

.form-group-login {
    width: 500px;
    height: 350px;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

.form-group-login h1{
    font-size: 1.4em;
    padding-left: 30px;
    padding-bottom: 10px;
    color: #006e51;
}

.form-check{
    margin: 10px 20px;
}

.Password-Reset{
    text-decoration: none;
    margin-left: 10px;
    color: #1dd1a1;
}

.Password-Reset:hover{
    color: #006e51;
    text-decoration: underline;
}

.sign-up-now{
    text-decoration: none;
    margin-left: 5px;
    color: #1dd1a1;
}

.sign-up-now:hover{
    color: #006e51;
    text-decoration: underline;
}

/* alerts form style  */

.alert{
    border-radius: 5px;
    margin: 10px 30px;
    padding:  10px;
    width: 400px;
    color: #01241b;
}

.alert-success-login{
    width: 250px;
    background-color: rgba(29, 209, 161, 0.5);
    border: 2px solid #1dd1a1;
}

.alert-success{
    width: 300px;
    background-color: rgba(29, 209, 161, 0.5);
    border: 2px solid #1dd1a1;
}

.alert-error{
    background-color: rgba(255, 0, 0, 0.5);
    border: 2px solid red;
}

.is-invalide{
    box-shadow: 0px 0px 5px red;
}

.invalide-feedback{
    margin: 10px;
    color: red;
    font-size: 0.8em;
}