{% extends 'layout.html' %}
{%block content%}
    {% for post in posts%}
        <article class="blog-post-info">
            <img src="https://api.adorable.io/avatars/285/abott@adorable.io.png" alt="">

            <div class="blog-post-authour">
                <h1><a href="#">{{ post.author }}</a></h1> 
            </div>
            
            <div class="blog-post-date">
                <p>{{ post.date_posted }}</p>  
            </div>
            <br>
            <div class="blog-post-title">
                <h2>{{ post.title }}</h2>
            </div>

            <div class="blog-post-content">
                <p>{{ post.content }}</p>
            </div>

        </article>
    
    {% endfor %}
{%endblock content%}
