<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
        <title>Flask Blog - {{title}}</title>
    {%else%}
        <title>Flask Blog</title>
    {%endif%}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">

</head>
<body>

    <header>
        <img class="logo" src="../static/images/logo.jpg" alt="weshare logo" title="We Share">
        <nav class="nav_links">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <nav class="nav_links">
            <ul>
                <li><a href="#">Log in</a></li>
                <li><a href="#">Log out</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <div>
        <table >
            <tr>
              <th>Side bar</th>
            </tr>
            <tr>
              <td><a href="#">Latest Post</a></td>
            </tr>
            <tr>
              <td><a href="#">Latest Post</a></td>
            </tr>
            <tr>
                <td><a href="#">Latest Post</a></td>
            </tr>
            <tr>
                <td><a href="#">Latest Post</a></td>
            </tr>
          </table>
    </div>
    
</body>
</html>