{% extends 'layout.html' %}
{%block content%}

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <h1>Join Us Today</h1>
            <hr>
            <table class="form-table">
                <tr class="form-label">
                    {{ form.username.label (class='form-label') }}
                </tr>
                <tr class="form-input">
                    {{ form.username (class='form-input') }}
                </tr> 

                <tr class="form-label">
                    {{ form.email.label (class='form-label') }}
                </tr>
                <tr class="form-input">
                    {{ form.email (class='form-input') }}
                </tr> 

                <tr class="form-label">
                    {{ form.password.label (class='form-label') }}
                </tr>
                <tr class="form-input">
                    {{ form.password (class='form-input') }}
                </tr>  

                <tr class="form-label">
                    {{ form.Confirm_password.label (class='form-label') }}
                </tr>
                <tr class="form-input">
                    {{ form.Confirm_password (class='form-input') }}
                </tr>                                  
            </table>
        </fieldset>
                
                <div >
                    {{ form.submit.label (class='submit_button') }}
                    {{ form.submit (class='form-button') }}
                </div>

            
    </form>

        <div class="already_have_acc">            
            <small>
                Already Have an account ? 
            </small>
            <a href="{{ url_for('login') }}"> Sign In</a>
        </div>





{%endblock content%}

   
